@import "tailwindcss";

@theme {
  --color-primary: #34d399;
  --color-card: rgba(30, 41, 59, 0.5);
  --color-background: #0f172a;
}

:root {
  font-family: "Google Sans Flex", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0f172a;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
